FAIRS/resources/checkpoints/*
FAIRS/resources/database/metadata/*
FAIRS/resources/database/validation/*

FAIRS/setup/python/*
FAIRS/setup/uv/*
FAIRS/setup/.env

__pycache__
*.vscode

*.db
*.log
*.lock
*.venv

!.gitkeep

AGENTS.md

